modules = ["java-graalvm22.3", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["maven"]

[workflows]
runButton = "Build & Run Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build-plugin"

[[workflows.workflow]]
name = "build-plugin"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean package"

[[workflows.workflow]]
name = "Build & Run Server"
author = 49706662
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x start-server.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean package"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-server.sh"
